{% load charts_extra %}
{% include 'charts/nav.html' %}
  {% if messages %}
    {% for message in messages %}
        <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}" role="alert">{{ message }}</div>
    {% endfor %}
{% endif %}
<div>
  {% load static %}

  <!-- <img src="{% static 'static_assets/charts/3MINDIA.NS.png' %}" alt=""> -->
</div>
<div class="waitpage" id="waitpage" >
  <div class="waitpage-box">

        <div class="spinner-border text-light" style="width: 3rem; height: 3rem;" role="status">
          <span class="sr-only"></span>
        </div>
        <span class="text-light mb-1" style="font-size: 2rem;">Loading...</span>
      
  </div>
</div>
  <div class="table-responsive mt-4 m-1" style="margin-bottom: 4px;">
    <table id='charts' class='display compact nowrap'>
      <thead>
        <tr>
          <th>Own</th>
          <th>Sr </th>
          <th>Ticker</th>
          <th>Sector</th>
          <th>Price</th>
          <th>Market Cap</th>
          <th>No of shares</th>
          <!-- <th>regular_op</th> -->
          <!-- <th>prev_close</th> -->
          <th>volume</th>
          <th>vol_avg_10</th>
          <th>vol_avg_10%</th>
          <th>deliveryAvg10%</th>
          <!-- <th>mvg_100</th> -->
          <!-- <th>mvg_50</th> -->
          <!-- <th>mvg_20</th> -->
          <!-- <th>mvg_10</th> -->
          <!-- <th>mvg_5</th> -->
          <!-- <th>update</th> -->
          <!-- <th>mvg_52_hi</th> -->
          <!-- <th>mvg_52_lo</th> -->
          <th>100_200</th>
          <th>50_100</th>
          <th>20_50</th>
          <th>10_20</th>
          <th>div yield</th>
          <th>beta</th>
          <th>Bk value</th>
          <th>price/bk value</th>
          <th>tEps/price(%)</th>
          <th>fEps/price(%)</th>
        </tr>
      </thead>
      <tbody id="table-content">
        {% for stk in data.values %}
        <tr class="tableRow" data-ticker="{{stk.ticker}}" data-owned='{{stk.owned}}'>
          {% if stk.owned == 1 %}
          <td class="own_"><input type="checkbox" name="owned" checked data-current_price='700' data-ticker='{{stk.ticker}}' id='owned'><span class="hidden">{{ stk.owned}}</span></td>
          {% else %}
          <td class="own_"><input type="checkbox" name="owned" data-current_price={{ stk.current_price |floatformat:2}} data-ticker='{{stk.ticker}}' id='owned'><span class="hidden">{{stk.owned}}</span></td>
          {% endif %}
          <td>{{forloop.counter}}</td>
          <td>{{ stk.ticker }}</td>
          <td>{{stk.sector}}</td>
          <td>{{ stk.current_price |floatformat:2 }}</td>
          {% widthratio stk.market_cap 10000000 1 as market_cap%}
          {% if market_cap|to_int > 10000 %}
          <td class="text-success">{{market_cap |to_int }}</td>
          {% else %}
          <td class="text-danger">{{market_cap |to_int }}</td>
          {% endif %}
          {% if stk.shares_outstanding_Cr|to_int < 200000000 %}
          <td class="text-success">{{stk.shares_outstanding_Cr }}</td>
          {% else %}
          <td class="text-danger">{{stk.shares_outstanding_Cr }}</td>
          {% endif %}
          {% if stk.volume|to_int > 100000 %}
          <td class="text-success">{{ stk.volume |floatformat:0 }}</td>
          {% else %}
          <td class="text-danger">{{ stk.volume |floatformat:0 }}</td>
          {% endif %}
          {% if stk.vol_avg_10|to_int > 1000000 %}
          <td class="text-success">{{ stk.vol_avg_10 |floatformat:0 }}</td>
          {% else %}
          <td class="text-danger">{{ stk.vol_avg_10 |floatformat:0 }}</td>
          {% endif %}
          {% if stk.per_vol_traded_10_day|to_float > 0.5 %}
          <td class="text-success">{{stk.per_vol_traded_10_day}}</td>
          {% else %}
          <td class="text-danger">{{stk.per_vol_traded_10_day}}</td>
          {% endif %}
          <td class="text-primary">{{stk.delivery_avg_10}}</td>
          {% if stk.rel_100_200|to_int > 0 %}
          <td class="text-success">{{ stk.rel_100_200 }}</td>
          {% else %}
          <td class="text-danger">{{ stk.rel_100_200 }}</td>
          {% endif %}
          {% if stk.rel_50_100|to_int > 0 %}
          <td class="text-success">{{ stk.rel_50_100 }}</td>
          {% else %}
          <td class="text-danger">{{ stk.rel_50_100 }}</td>
          {% endif %}
          {% if stk.rel_20_50|to_int > 0 %}
          <td class="text-success">{{ stk.rel_20_50 }}</td>
          {% else %}
          <td class="text-danger">{{ stk.rel_20_50 }}</td>
          {% endif %}
          {% if stk.rel_10_20|to_int > 0 %}
          <td class="text-success">{{ stk.rel_10_20 }}</td>
          {% else %}
          <td class="text-danger">{{ stk.rel_10_20 }}</td>
          {% endif %}
          {% if stk.dividend_yield_per|to_int|mult_to_100 > 5 %}
          <td class="text-success">{{stk.dividend_yield_per |mult_to_100 |floatformat:2}}</td>
          {% else %}
          <td class="text-danger">{{stk.dividend_yield_per |mult_to_100 |floatformat:2}}</td>
          {% endif %}
          {% if stk.beta|to_float > 1 %}
          <td class="text-success">{{ stk.beta}}</td>
          {% else %}
          <td class="text-danger">{{ stk.beta}}</td>
          {% endif %}
          <td>{{ stk.book_value | floatformat:2  }}</td>
          {% if stk.price_bk_ratio|to_float > 0.3 %}
          <td class="text-success">{{stk.price_bk_ratio| floatformat:2}}</td>
          {% else %}
          <td class="text-danger">{{stk.price_bk_ratio| floatformat:2}}</td>
          {% endif %}
          {% if stk.trailingEps_rel_price_per|to_float > 0 %}
          <td class="text-success">{{ stk.trailingEps_rel_price_per| floatformat:2 }}</td>
          {% else %}
          <td class="text-danger">{{ stk.trailingEps_rel_price_per| floatformat:2 }}</td>
          {% endif %}
          {% if stk.forwardEps_rel_price_per|to_float > 0 %}
          <td class="text-success">{{ stk.forwardEps_rel_price_per| floatformat:2 }}</td>
          {% else %}
          <td class="text-danger">{{ stk.forwardEps_rel_price_per| floatformat:2 }}</td>
          {% endif %}
        </tr> 
        {% endfor %}

      </tbody>
    </table>
    <br />
    <br />
  </div>
   
  <!-- Modal -->
  <div class="modal fade" id="owned_modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Enter the following Data..</h5>
          <button type="button" class="btn-close closeModal" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form id="add_to_watchlist" method="POST" action="">
            {% csrf_token %}
            <input type="hidden" name='ticker' class='ticker_modal'>
            <div class="form-group">
              <label for="exampleInputEmail1">Ticker</label>
              <input type="text" class="form-control ticker_modal" disabled >
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">No of shares:</label>
              <input type="number" name='no_of_shares' class="form-control highlight" id="noOfShares_modal" value='1' placeholder="no of shares">
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Buy Price:</label>
              <input name='buy_price' type="number" class="form-control highlight" id="buyPrice_modal" value="current_price" placeholder="buyPrice">
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Buy Date:</label>
              <input name='buy_date' type="date" class="form-control" id="buyDate_modal" value="current_price" placeholder="buyPrice">
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger closeModal" data-bs-dismiss="modal">Close</button>
          <input type="submit" class='btn btn-success' value="Add to watchlist">
        </form>
        </div>
      </div>
    </div>
  </div>
  <div id="imagemodal" class="modal fade">
    <div class="modal-dialog" role='document'>
      <div class="modal-content">
        <div class="modal-header">
          <h3></h3>
          <button id="close_charts" class="btn btn-danger">X</button>
        </div>
        <div class="modal-body">
          <img src="" alt="">
        </div>
      </div>
    </div>
  </div>
  {% include 'charts/footer.html' %}
  {% load static %}
  <script>
    var static = "{% static './static_assets' %}"
  </script>
  <script src="{% static 'clean charts.js' %}"></script>
  <script>
    $(document).ready(function(){
      $("#close_charts").click(function(){
        $("#imagemodal").modal("toggle")
      })
    })
    // $("#exampleModal").modal('show')
  </script>
</body>
</html