{% include 'charts/nav.html' %}
{% with last_downloaded=data.1.updated_at %}
{% endwith %}
<p>{{last_downloaded}}</p>
<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th>Action</th>
                <th>status</th>
                <th>Progress..</th>
            </tr>
        </thead>
        <tbody>
           <tr>
            <td>
                {% if data.0.running_status == 1 %}
                <button id="get_data" class="btn btn-success">download in progress</button>
                {% else %}
                <button id="get_data" class="btn btn-success">download data</button>
                {% endif %}
            </td>
            <td><span id="download_text">last_downloaded:
                <!-- {% with last_downloaded=charts/.updated_at %} -->
                <span style="font-weight: 700;">{% getAttr('charts/', "updated_at") %}</span>
                <!-- {% endwith %} -->
            </span></td>
               <td style="width: 45%;" >
                <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated" id='download_bar' role="progressbar" style="width:0%;" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
               </td>
           </tr>
           <tr>
            <td>{% if data.1.running_status == 1 %}
                <button id="update_data" class="btn btn-success">db update in progress</button>
                {% else %}
                <button id="update_data" class="btn btn-success">update database</button>
                {% endif %}
            </td>
            <td><span id="update_text">DB was last updated at::
                {% with last_updated=data.1.started_at %}
                <span style="font-weight: 700;">{{last_updated}}</span>
                {% endwith %}
            </span></td>
            <td style="width: 45%;" >
             <div class="progress">
                 <div class="progress-bar progress-bar-striped progress-bar-animated" id='update_bar' role="progressbar" style="width:0%;" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
               </div>
            </td>
        </tr>
        <tr>
            <td>
                {% if data.1.running_status == 1 %}
                <button id="update_charts" class="btn btn-success">charts update in progress</button>
                {% else %}
                <button id="update_charts" class="btn btn-success">update charts</button>
                {% endif %}
            </td>
            <td>
                <span id="charts_text">charts were last updated at:
                {% with last_updated_charts=data.2.started_at %}
                <span style="font-weight: 700;">{{last_updated_charts}}</span>
                {% endwith %}
            </span>
            </td>
            <td style="width: 45%;" >
             <div class="progress">
                 <div class="progress-bar progress-bar-striped progress-bar-animated" id='charts_bar' role="progressbar" style="width:0%;" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
               </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<!-- <div class="container mt-3">
    <h3 style="text-align: center;">Welcome to worker</h3>
    <br>
   <div>
       <form action="" id='get_data' method="POST" name="get_data">
        <input type="submit" value="get data" class="btn btn-success">
        <span class="font-weight-bold" style="font-size: 1.5rem;"> Download historical, info_dict and save to disk 'static_assets':</span>
        <p id='download_text'></p>
        <p id="hist_text"></p>
        <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated" id='download_bar' role="progressbar" style="width:0%;" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
    </form>
   </div>
   <br>
   <div>
    <form action="" id='update_data' method="POST" name="update_data">
        <input type="submit" value="Update data" class="btn btn-success">
        <br>
        <br>
        <p id='progress_text'></p>
        <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated" id='update_bar' role="progressbar" style="width:0%;" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
    </form>
    </div>
    <br>
    <hr>
    <form action="" id='download_charts' method="POST" name="download_charts">
        <input type="submit" value="Download charts" class="btn btn-success">
    </form>
</div> -->
{% include 'charts/footer.html' %}
<script>
    var resp_ ;
    $(document).ready(function(){
        $('#update_spinner').hide()
    })
    $.ajaxSetup({ 
                beforeSend: function(xhr, settings) {
                    function getCookie(name) {
                        var cookieValue = null;
                        if (document.cookie && document.cookie != '') {
                            var cookies = document.cookie.split(';');
                            for (var i = 0; i < cookies.length; i++) {
                                var cookie = jQuery.trim(cookies[i]);
                                // Does this cookie string begin with the name we want?
                                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                                    // console.log(cookieValue)
                                    break;
                                }
                            }
                        }
                        return cookieValue;
                    }
                    if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
                        // Only send the token to relative URLs i.e. locally.
                        xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
                    }
                } 
                
           });
function get_pr(){
    $.ajax("{% url 'updateProgress' %}",{
        type: 'GET',
        success:function(r){
            resp_ = r['progress']
            $('#update_bar').css('width', `${resp_}%`)
            console.log(resp_)
        }
    })
}
function get_cpb(){
    $.ajax("{% url 'progress' %}", {
        type: "GET",
        success:function(r){
            console.log(r)
            $('#charts_text').html(r['charts_progress'])
            $('#charts_bar').css('width', `${r["charts_progress"]}%`)
        }
    })
}
function get_drp(){
    $.ajax("{% url 'progress' %}",{
        type: 'GET',
        success:function(r){
            if (r['downloading_data'] == true){
                $("#download_text").html("Downloading historical data.....")
            }
            else {
                $("#download_text").html("downloading info_dict")
            }
            // $("#download_text").html(`Downloading historical data: ${r["downloading_data"]}`)
            pk_status = r['mk_pickel_status']
            $('#download_bar').css('width', `${pk_status}%`)
            console.log(r)
        }
    })
}
    $('#get_data').click(function(e){
        e.preventDefault()
        // $.ajax('{% url "tracker" %}',{
        //     type: "POST",
        //     data:{tracker: 'dwnld_data'},
        //     success: function(r){
        //         console.log(r)
        //     }
        // })
        $("#download_bar").css('width', '1%')
        $("#download_text").html('Downloading....');
        var download_interval = setInterval(function(){get_drp()},1000)
        $.ajax("{% url 'dwnldData' %}", {
            type:'POST',
            success:function(r){
                if (r == 'proxy_not_set'){
                    console.log('tor is not running')
                    clearInterval(download_interval)
                    $("#download_bar").css('width','0%')
                    $('#download_bar').removeClass('progress-bar-animated')
                    $('#download_text').html('Tor is not running')
                }
                else{
                clearInterval(download_interval)
                $("#download_bar").css('width','100%')
                $('#download_bar').removeClass('progress-bar-animated')
                $('#download_text').html('downloaded')
                }

            }
        })

    })
   $('#update_data').click(function(e){
       e.preventDefault()
       $('#update_bar').css('width','2%')
       $('#update_text').html('updating...')
       var progress_interval = setInterval(function(){get_pr()}, 1000)
    //    $('#update_bar')
       $.ajax('{% url "updateDb" %}', {
           type:'POST',
           data:{test: 'test'},
           success:function(){
               console.log('success')
               clearInterval(progress_interval)
               $('#update_bar').css('width','100%')
               $('#update_bar').removeClass('progress-bar-animated')
               $('#update_text').html('updated')
           },
           error: function(){
               console.log('error')
           }
       })
       console.log('update')
   })
   $('#update_charts').click(function(e){
       e.preventDefault()
       var charts_interval = setInterval(function(){get_cpb()},1000)
       $.ajax('{% url "updateCharts" %}', {
           type:'POST',
           success:function(r){
               if (r == 'proxy_not_set'){
               console.log('tor is not running')
               clearInterval(charts_interval)
               $('#charts_bar').css('width','0%')
               $('#charts_bar').removeClass('progress-bar-animated')
               $('#charts_text').html('tor is not running')
               }
               else{
               console.log('charts_updated')
               clearInterval(charts_interval)
               $('#charts_bar').css('width','100%')
               $('#charts_bar').removeClass('progress-bar-animated')
               $('#charts_text').html('updated')
               }
           }
       })
   })

</script>
</body>
</html>