{% include 'charts/nav.html' %}
<div class="container">
    <h3>
        {{ request.session.username }}
    </h3>
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Meta</th>
                <th>Progress</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><a id='historicalUpdate' href="#" class="btn btn-primary">Update Historical Data</a></td>
                <td><span id="hist_meta"></span></td>
                <td style="width: 45%;">
                    <div class="spinner-border" style="display: none;" id='hist_progress' role="status">
                        <span class="sr-only"></span>
                      </div>
                </td>
            </tr>
            <tr>
                <td><a id='statsUpdate' href="#" class="btn btn-primary">Update statistical data from yquery</a></td>
                <td><span id="stat_meta"></span></td>
                <td style="width: 45%;">
                    <div class="spinner-border" style="display: none;" id='stat_progress' role="status">
                        <span class="sr-only"></span>
                      </div>
                </td>
            </tr>
            <tr>
                <td><a id='rowsUpdate' href="#" class="btn btn-primary">Update rows (database)</a></td>
                <td><span id="rows_meta"></span></td>
                <td style="width: 45%;">
                    <div class="spinner-border" style="display: none;" id='rows_progress' role="status">
                        <span class="sr-only"></span>
                      </div>
                </td>
            </tr>
            <tr>
                <td><a id='chartsUpdate' href="#" class="btn btn-primary">Update charts</a></td>
                <td><span id="charts_meta"></span></td>
                <td style="width: 45%;">
                    <div class="spinner-border" style="display: none;" id='charts_progress' role="status">
                        <span class="sr-only"></span>
                      </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
{% include 'charts/footer.html' %}
<script>
    $(document).ready(function(){
        // SET CSRF TOKEN
        $.ajaxSetup({ 
                beforeSend: function(xhr, settings) {
                    function getCookie(name) {
                        var cookieValue = null;
                        if (document.cookie && document.cookie != '') {
                            var cookies = document.cookie.split(';');
                            for (var i = 0; i < cookies.length; i++) {
                                var cookie = jQuery.trim(cookies[i]);
                                // Does this cookie string begin with the name we want?
                                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                                    // console.log(cookieValue)
                                    break;
                                }
                            }
                        }
                        return cookieValue;
                    }
                    if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
                        // Only send the token to relative URLs i.e. locally.
                        xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
                    }
                } 
                
           });
        //    API CALLS 
           function updateDom(type_){
               $.ajax("{% url 'prog' %}", {
                   type:'GET',
                   success:function(r){
                       if (type_ == 'hist_prog'){
                           console.log('hist_prog')
                           $("#hist_meta").html(`updating for ${(r['data']['debug']['historical']['historical_now_updating'])}`)
                       }
                       else if (type_ =='stats_update'){
                           console.log('stats_update')

                       }
                       else if (type_ == 'rowsUpdate'){
                           console.log('rows_update')
                       }
                       else if(type_ == 'charts') {
                           console.log('charts_update')
                       }
                       else {
                           console.log('error at updateDom')
                       }
                      
                   },
                   error:function(r){
                       console.log(r)
                   }
               })
           }
        //    Update Historical data
       $("#historicalUpdate").click(function(e){
           e.preventDefault()
           var hist_progress = $('#hist_progress').show()
           var prog_interval = setInterval(function(){updateDom('hist_prog')},1000)
           console.log('hello')
            $.ajax("{% url 'historicalUpdate' %}", {
            type:'GET',
            success:function(r){
                clearInterval(prog_interval)
                var hist_progress = $('#hist_progress').hide()
                $("#hist_meta").html(`success ${r.message}`)
            },
            error:function(){
                console.log('err')
            }
        })
       })
       $("#statsUpdate").click(function(e){
           e.preventDefault()
           var stat_progress = $('#stat_progress').show()
           var stat_interval = setInterval(function(){updateDom('stats_prog')},1000)
           $.ajax("{% url 'statsUpdate' %}", {
               type:'GET',
               success:function(r){
                clearInterval(stat_interval)
                var stat_progress = $('#stat_progress').hide()
                $("#stat_meta").html(`success ${r.message}`)
               },
               error: function(){
               console.log('error....')
               }
           })
       })
       $("#rowsUpdate").click(function(e){
           e.preventDefault()
           $("#rows_progress").show()
           var rows_interval = setInterval(function(){updateDom('rows_prog')}, 1000)
           $.ajax("{% url 'updateDbRows' %}",{
               type:'GET',
               success: function(r){
               clearInterval(rows_interval)
               $("#rows_progress").hide()
               $('#rows_meta').html(`success ${r.message}`)
               }
           })
       })
       $('#chartsUpdate').click(function(e){
           e.preventDefault()
           $('#charts_progress').show()
           var charts_interval = setInterval(function(){updateDom('charts_prog')}, 1000)
           $.ajax("{% url 'updateCharts' %}", {
               type:'GET',
               success:function(r){
                   console.log(r)
                clearInterval(charts_interval)
                $('#charts_progress').hide()
                $('#charts_meta').html(r.message)
               }
           })
       })
    })
</script>